@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
:root{
    /*Colores de la marca Sanrio*/
    --azul: #64a2eeff;
    --rojo: #f86244ff;
    --verde:#cffa7eff;
    --rosa: #f776bdff;
    --morado:#da81f0ff;
}


.cabecera{
    background-color: var(--azul);
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.ribbon{
    width: 100px;
    height: 100px;
    display: flex;
    margin-left: -20%;
    position: absolute;
}
.logo{
    width: 23%;
    height: 100%;
    margin-left: 5%;
}


body{
   font-family:cursive;
   background-color: rgb(255, 255, 255);
   max-width: 95%;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    background-color: #DBF0FF;
    border-radius: 90px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 14px;
    padding: 20px;
}

.cajamenu1,
.cajamenu2,
.cajamenu3,
.cajamenu4,
.cajamenu5,
.cajamenu6 {
    background-color: white;
    height: 40px;
    width: 15%;
    border-radius: 90px;
    margin-top: 0;
    margin-left: 0; 
}
.cajamenu1:hover,
.cajamenu2:hover,
.cajamenu3:hover,
.cajamenu4:hover,
.cajamenu5:hover,
.cajamenu6:hover {
    background-color: var(--azul);
    cursor: pointer;
}
.cajamenu1,
.cajamenu2,
.cajamenu3,
.cajamenu4,
.cajamenu5,
.cajamenu6 {
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* Sombra suave */
}



