h1{
font-size: 80px;
background-color: #64a2eeff;
color: whitesmoke;
text-align: center;
margin-top: 5px;
border-radius: 30px;
}
body{
    font-family:cursive;
   background-color: whitesmoke;
}
.caja2{
    
}
