@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
:root{
    /*Colores de la marca Sanrio*/
    --azul: #64a2eeff;
    --rojo: #f86244ff;
    --verde:#cffa7eff;
    --rosa: #f776bdff;
    --morado:#da81f0ff;
}


.cabecera{
    background-color: var(--azul);
    min-height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 40px;
}


.ribbon{
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: -25%;
    animation: bajarRibbon 2s ease-in-out infinite alternate;
}
@keyframes bajarRibbon {
    from {
        top: 0;
    }
    to {
        top: 40px;
    }
}
.logo{
    width: 23%;
    height: 100%;
    margin-left: 5%;
}


body{
   font-family:cursive;
   background-color: rgb(255, 255, 255);
   max-width: 95%;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    background-color: #DBF0FF;
    border-radius: 90px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 14px;
    padding: 20px;
}

.cajamenu1,
.cajamenu2,
.cajamenu3,
.cajamenu4,
.cajamenu5,
.cajamenu6 {
    background-color: white;
    height: 40px;
    width: 15%;
    border-radius: 90px;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;                
    align-items: center;         
    justify-content: center;      
}

.cajamenu1:hover,
.cajamenu2:hover,
.cajamenu3:hover,
.cajamenu4:hover,
.cajamenu5:hover,
.cajamenu6:hover {
    background-color: var(--azul);
    cursor: pointer;
}

.cajamenu1,
.cajamenu2,
.cajamenu3,
.cajamenu4,
.cajamenu5,
.cajamenu6 {
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.cajapersonajes {
    width: 85%;               
    margin: 24px auto 0 auto; 
    background-color: #fff;
    border-radius: 40px;
    min-height: 200px;        
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
.p1,
.p2,
.p3,
.p4,
.p5,
.p6 {
    background-color: white;
    color: white;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 18px;
    font-weight: bold;
    border-radius: 40px;
    width: 13%;
    height: 180px;
    margin: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: background 0.3s;
}
.cajapersonajes img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}